<div class="team-member">
    <img src=@Image alt="@Name" class="team-photo" />

    <h3 class="team-name">@Name</h3>
    <p class="team-role">@Role</p>

    <div class="social-links">
        <a href="@LinkedIn" target="_blank" class="btn-linkedin">
            <i class="fab fa-linkedin"></i>
        </a>

        @if(GitHub is not null)
        {
            <a href="@GitHub" target="_blank" class="btn-github">
                <i class="fab fa-github"></i>
            </a>
        }
    </div>
</div>


@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Role { get; set; }

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string LinkedIn { get; set; }

    [Parameter]
    public string? GitHub { get; set; }
}
