@page "/team"

<PageTitle>Team</PageTitle>

@if (!isMobile)
{
    <MudPaper Class="card-header text-center" Style="background-color: #F7F7F7;" Elevation="0">
        <MudText Typo="Typo.h4">
            <strong>Meet the Team</strong>
        </MudText>
    </MudPaper>
    <div class="team-section">
        <div class="team-container">
            @foreach (var gymbro in TeamMembers)
            {
                <div class="team-member">
                    <img src="@gymbro.ImageURL" alt="@gymbro.Name" class="team-photo"/>
                    <h3 class="team-member-name">@gymbro.Name</h3>
                    <p class="team-role">@gymbro.Role</p>
                    <div class="social-links">
                        @if (!string.IsNullOrEmpty(@gymbro.LinkedinURL))
                        {
                            <a href="@gymbro.LinkedinURL" target="_blank" class="btn-linkedin">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(@gymbro.GithubURL))
                        {
                            <a href="@gymbro.GithubURL" target="_blank" class="btn-github">
                                <i class="fab fa-github"></i>
                            </a>
                        }
                    </div>
                </div>
            }
            <br/>
        </div>

        <div class="text-center">
            <span class="big-text">
                Our excellent team combines many skills such as game design, modding, biology and hardware. All to deliver Gymificient to your business.
            </span>
            <br/>
            <span class="small-text">
                Want to chat? Contact us above!
            </span>
        </div>
    </div>
} else {
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudPaper Class="card-header text-center" Style="background-color: #F7F7F7;" Elevation="0">
                <MudText Typo="Typo.h5">
                    <strong>Meet the Team</strong>
                </MudText>
            </MudPaper>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudPaper Class="card-header text-center" Style="background-color: #F7F7F7;" Elevation="0">
                <MudText Typo="Typo.h3">
                    <strong>Meet the Team</strong>
                </MudText>
            </MudPaper>
        </MudHidden>
        <MudGrid>
            <MudItem xs="12" sm="6" md="4" lg="3">
                @foreach (var gymbro in TeamMembers)
                {
                    <div class="team-member">
                        <img src="@gymbro.ImageURL" alt="@gymbro.Name" class="team-photo"/>
                        <h3 class="team-member-name">@gymbro.Name</h3>
                        <p class="team-role">@gymbro.Role</p>
                        <div class="social-links">
                            @if (!string.IsNullOrEmpty(@gymbro.LinkedinURL))
                            {
                                <a href="@gymbro.LinkedinURL" target="_blank" class="btn-linkedin">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(@gymbro.GithubURL))
                            {
                                <a href="@gymbro.GithubURL" target="_blank" class="btn-github">
                                    <i class="fab fa-github"></i>
                                </a>
                            }
                        </div>
                    </div>
                }
            </MudItem>
        </MudGrid>

        <div class="text-center">
            <span class="big-text">
                Our excellent team combines many skills such as game design, modding, biology, and hardware. All to deliver Gymificient to your business.
            </span>
            <br/>
            <span class="small-text">
                Want to chat? Contact us above!
            </span>
        </div>
    </MudContainer>
}

@code {
    [CascadingParameter]
    public bool isMobile { get; set; }
    
    private List<TeamMember> TeamMembers = new List<TeamMember>
    {
        new TeamMember
        {
            Name = "Udaiveer Parihar",
            Role = "Biz-Ops",
            ImageURL = "Images/Udaiveer.jpg",
            LinkedinURL = "https://www.linkedin.com/in/udaiveer-parihar-460272230/"
        },
        new TeamMember
        {
            Name = "Jakub Janoska",
            Role = "Front End",
            ImageURL = "Images/Jakub.jpg",
            LinkedinURL = "https://www.linkedin.com/in/jakub-janoska-19a7b8313/",
            GithubURL = "https://github.com/jakubjn"
        },
        new TeamMember
        {
            Name = "Nathan Manley",
            Role = "Back End",
            ImageURL = "Images/Nathan.jpg",
            LinkedinURL = "https://www.linkedin.com/in/nathan-manley/",
            GithubURL = "https://github.com/macmanley"
        }
    };

    public class TeamMember
    {
        public string Name { get; set; }
        public string Role { get; set; }
        public string ImageURL { get; set; }
        public string LinkedinURL { get; set; }
        public string GithubURL { get; set; }
    }

}
